@import '@/styles/function.scss';
@import '@/styles/variables.scss';
.content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: rgba($primaryColor, 0.96);
	.logo {
		width: get-vw(165px);
		max-width: 165px;
		position: absolute;
		top: get-vw(52px);
		left: get-vw(76px);
	}
	.close {
		cursor: pointer;
		width: get-vw(80px);
		max-width: 80px;
		position: absolute;
		top: get-vw(35px);
		right: get-vw(100px);
	}
	.bigImage {
		width: 40%;
		height: 50%;
		left: 10%;
		top: 10%;
		text-align: center;
		position: absolute;
		img {
			height: 100%;
		}
	}
	.detail {
		position: absolute;
		right: 10%;
		top: 40%;
		transform: translateY(-50%);
		width: 50%;
		text-align: center;
		.title {
			font-size: 20px;
			font-family: AlibabaSans-Bold, AlibabaSans;
			font-weight: bold;
			color: #ffffff;
			margin-bottom: 30px;
		}
		.row {
			margin-bottom: 18px;

			font-size: 16px;
			font-family: AlibabaSans-Regular, AlibabaSans;
			font-weight: 400;
			color: #decce3;
			.label {
				display: inline-block;
				width: 50%;
				text-align: right;
				padding-right: 20px;
			}
			.value {
				display: inline-block;
				width: 50%;
				text-align: left;
				padding-left: 20px;
			}
		}
		.btn {
			width: 180px;
			height: 46px;
			line-height: 46px;
			background: #333333;
			color: #ffffff;
			margin: auto;
			margin-top: get-vw(46px);
			font-size: 16px;
			font-family: AlibabaSans-Regular, AlibabaSans;
		}
	}
	.thumbnails {
		position: absolute;
		left: 12%;
		bottom: 10%;
		width: 30%;
		display: flex;
		justify-content: space-between;
		height: get-vw(180px);
		.thumbnail {
			img {
				height: 100%;
			}
		}
	}
	.relate {
		position: absolute;
		width: 30%;
		right: 15%;
		bottom: 10%;
		.subtitle {
			font-size: 16px;
			font-family: AlibabaSans-Bold, AlibabaSans;
			font-weight: bold;
			color: #ffffff;
			margin-bottom: 30px;
		}
		.list {
			display: flex;
			justify-content: space-between;
			.item {
				img {
					height: 136px;
				}
				.text {
					margin-top: get-vw(20px);
					font-size: 16px;
					font-family: AlibabaSans-Regular, AlibabaSans;
					font-weight: 400;
					color: #ffffff;
				}
			}
		}
	}
}
